.filterRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.data-table {
    border-collapse: collapse;
  }
  
.data-table thead th {
    background-color: #f5f5f5;
}

.icons-handle{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    /* width: 100%; */
}

.date{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}
  
.data-table tbody tr:hover {
    background-color: #101010;
    cursor: pointer;
}

.containerBtn{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    margin-left: 20px;
}

.reset-btn {
    background-color: #202020;
    border: 1px solid #242424;
}
.addNew {
    color: white;
    margin-top: 1rem;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
.mobileBtn{
    display: none !important;
}

.iconBtnBox{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 1rem;
    padding: 10px;
    border: 1px solid white;
    border-radius: 8px;
}

.iconActive{
    background-color: white;
    color: black;
}
.iconDeactive{
    background-color: rgb(78, 74, 78);
    color: black;
}

@media only screen and (max-width:  768px) {
    .filterRow {
        padding: 0px !important;
        margin-top: 0px !important;
        display: grid;
        justify-content: center;
        gap: "5px";
        margin-bottom: 2rem;
    }
    /* .addNew {
        white-space: nowrap; 
        padding: 6px 16px;
        position: relative;
        z-index: 1000;
        right: 1rem;
        top: 3.5rem;
    } */
    .mobileBtn{
        display: inline-block !important;
    }
    .iconBtnBox{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0px;
    }
    
    .date{
        /* padding: 10px; */
        display: flex;
        align-items: center;
        justify-content: center;
        gap: "10px";
        flex-direction: column;
        margin-bottom: 10px;
    }
    .date .form-group{
        width: 45%;
    }

    .containerBtn{
        align: center;
        margin-left: 1rem;
    }
}

.custom-backdrop {
    background-color: rgba(0, 0, 0, 0.5) !important;
  }
  
.card-body {
    background: #000000;
}